.container-bottles{
  display: flex;
}

.left-side {
  width: 100%;
  h3 {
    font-family: 'Syne Mono', monospace;
  }
}

.filters {
  display: grid;
}

input#query.form-control {
    width: fit-content;
    margin: 10px 0px;
}

@media (max-width: 600px) {
.container-bottles {
    display: grid;
  }
input#query.form-control {
  width: auto;
}
};
