// Specific CSS for your home-page
.body {
  background-position: center;
  background-image: asset-url("bouchon.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
  // padding-bottom: 36px;
  font-family: 'Syne Mono', monospace;
}

.container {
  background-color: rgba(250, 250, 250, 0.5);
  height: 100%;
}


.body h2 {

  // font-size: 4.3em;
  font-family: 'Syne Mono', monospace;
  font-size: 4em;
  // padding-top: 32px;
  padding-top: 26px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}
.body h4 {
  // margin-left: 28px;
  font-family: 'Syne Mono', monospace;
  margin-left: 0px;
  // padding-top: 20px;
  padding-top: 26px;
  // font-size: 1.5rem;
  font-size: 1.7rem;
  line-height: 34px;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .2);
}
i {
  // font-size: 5em;
}
.color-red{
  color: red;
  text-decoration: underline;
}
.container-landing {
  display: grid;
  width: 100%;
  justify-content: space-around;
}
.card-landing{
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 150px;
  text-align: center;
  margin-bottom: 40px;
}
.card-landing p {
  text-align: center;
  margin-top: 8px;
}
.btn-landing{
  display: flex;
  color: white;
  background-color: white;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  align-items: center;
  justify-content: center;
  align-self: center;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, .2);
}
.btn-landing i {
  font-size: 2rem;
}
.btn-padding-left {
  padding-left: 8px;
}
