<div class="container">
  <div class="new-button">
          <%= link_to "Add a favorite bottle", new_bottle_path, class: "button" %>
  </div>
  <div class="locations-cards">
    <% @bottles.each do |bottle|%>
      <div class="location-card">
        <div class="location-card-photo">
          <% if bottle.photo.attached? %>
            <%= cl_image_tag bottle.photo.key %>
          <% else %>
            <%= image_tag "http://loremflickr.com/200/200/wine" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
