<div class="body">
  <div class="container">
    <div>
      <h2>Natural wines</h2>
      <h4>Wine by nature</h4>
    </div>
    <div class="container-landing">
      <div class="card-landing">
        <div class="btn-landing">
          <%= link_to new_bottle_path do %>
            <i class="fas fa-utensils"></i><br>
          <% end %>
        </div>
        <p>Save the bottles that I liked</p>
      </div>
      <div class="card-landing">
        <div class="btn-landing btn-padding-left">
          <%= link_to locations_path do %>
           <i class="fas fa-mug-hot"></i><br>
          <% end %>
        </div>
        <p>Find a place to buy or drink natural wines</p>
      </div>
    </div>
  </div>
</div>
