.new-button {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  width: 20%;
  text-align: center;
  margin: 12px;
  a {
    text-decoration: none;
    color: black;
  }
}

.new-button:hover {
  opacity: 1;
  a{
    text-decoration: none;
    color: #8F131A;
  }
}

@media (max-width: 600px) {
  .new-button {
    border-radius: 50%;
    width: 28%;
  };
};
