.locations-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  grid-gap: 32px;
}

.location-card {
  overflow: hidden;

  // box-shadow: 0 0 15px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(240, 240, 240, .8);
  transition: all .1s ease-in-out;
    &:hover {
     box-shadow: 0 0 30px rgba(0,0,0,.5);
     transform: scale(1.02);
   }
    &.grow {
      transition: all .2s ease-in-out;
    }
    h3 {
      font-family: 'Syne Mono', monospace;
      font-size: 24px;
    }
    a {
      text-decoration: none;
      color: black;
    }
    a:hover {
      color: #8F131A;
    }

   }

.location-card img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.location-card-text {
  display: block;
  background: white;
  text-align: center;
  padding: 5px;
}

.bottles-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-gap: 16px;
  grid-gap: 32px;
  margin: 32px;
}


@media (max-width: 600px) {
.locations-cards {
    grid-template-columns: 1fr;
  }
};
