.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.navbar h2 {
  font-family: 'Syne Mono', monospace;
  font-size: 3em;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, .4);
}
